<div class="text-3xl mt-3">{{ 'user.title.user-list' | translate }}</div>

<div class="border-2 border-black" [ngClass]="{'pb-3 mb-4 mt-2': show, 'my-2': !show}">
  <div class="flex justify-between text-lg py-1 px-4 cursor-pointer" (click)="toggle()"
       [ngClass]="{'bg-black text-white': !show, 'bg-white text-black border-b-2 border-black': show}">
    <div class="font-bold">
      {{ 'user.action.create-user' | translate }}
    </div>
    <div>
      <fa-icon [icon]="icon"></fa-icon>
    </div>
  </div>
  <div class="h-auto px-4 py-2" *ngIf="show">
    <ts-create-user></ts-create-user>
  </div>
</div>

<table class="table-auto w-full">
  <thead>
  <tr class="border-t-4 border-black">
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.username' | translate }}</span>
    </th>
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.roles' | translate }}</span>
    </th>
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.actions' | translate }}</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i; last as last" class="border-t-2 border-black" [ngClass]="{'border-b-2': last}">
    <td class="px-4 py-2">{{ user.username }}</td>
    <td class="px-4 py-2">
      <span *ngFor="let role of user.roles; last as last">
        {{ role.name }} {{ !last ? ',' : '' }}
      </span>
    </td>
    <td class="px-4 py-2">
      <button [routerLink]="[user.id]" ts-button-tertiary class="my-1 mr-3">
        {{ 'common.change' | translate }}
      </button>
      <button (click)="deleteUser(user.id)" ts-button-tertiary class="my-1">
        {{ 'common.delete' | translate }}
      </button>
    </td>
  </tr>
  </tbody>
</table>
