<div class="text-xl mt-3">{{ 'user.title.user-list' | translate }}</div>

<div>
  <span [routerLink]="['/users', 'create']"
    class="text-black cursor-pointer hover:underline inline-block mr-3">
    {{ 'user.action.create-user' | translate }}
  </span>
</div>

<table class="table-auto">
  <thead>
  <tr>
    <th class="px-4 py-2 text-left">{{ 'common.username' | translate }}</th>
    <th class="px-4 py-2 text-left">{{ 'common.roles' | translate }}</th>
    <th class="px-4 py-2 text-left">{{ 'common.actions' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <td class="border px-4 py-2">{{ user.username }}</td>
    <td class="border px-4 py-2">
      <span *ngFor="let role of user.roles; last as last">
        {{ role.name }} {{ !last ? ',' : '' }}
      </span>
    </td>
    <td class="border px-4 py-2">
      <button [routerLink]="[user.id]" ts-button-tertiary class="my-1">
        {{ 'common.change' | translate }}
      </button>
    </td>
  </tr>
  </tbody>
</table>
