<div class="text-xl mt-3 text-center">{{ 'user.title.update-user' | translate }}</div>
<div class="grid grid-cols-12">
  <div class="col-span-6">
    <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
      <div class="grid grid-cols-12">
        <div class="col-span-6 col-start-4 mt-2">
          <div class="text-gray-700">{{ 'common.username' | translate }}</div>
          <input ts-input formControlName="username" autocomplete>
          <ng-container
            *ngIf="(submitted || getFormControlForUpdateUser('username').touched) && getFormControlForUpdateUser('username').invalid">
            <ts-error-message *ngIf="getFormControlForUpdateUser('username').errors.required">
              {{ 'common.error.username-missing' | translate }}
            </ts-error-message>
          </ng-container>
        </div>
        <div class="col-span-6 col-start-4 mt-2">
          <div class="text-gray-700">{{ 'common.roles' | translate }}</div>
          <div class="relative">
            <select
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
              formControlName="roles">
              <option [ngValue]="null">{{ 'common.select' | translate }}</option>
              <option *ngFor="let role of roles" [ngValue]="role">
                {{ role.name }}
              </option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
              <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-span-6 col-start-4">
          <ts-error-message *ngIf="updateFailure">
            {{ 'user.error.update' | translate }}
          </ts-error-message>
        </div>
        <div class="col-span-6 col-start-4">
          <ts-success-message *ngIf="updatedSuccessful">
            <span>
              {{ 'user.message.created' | translate: { username: updatedUser.username, privateKey: updatedUser.privateKey, publicKey: updatedUser.publicKey } }}
            </span>
          </ts-success-message>
        </div>
        <div class="col-span-6 col-start-4 mt-3">
          <div class="grid grid-cols-12">
            <div class="col-span-6 text-center">
              <a [routerLink]="['/users']"
                 class="text-black cursor-pointer hover:underline inline-block mr-3">
                {{ 'common.back' | translate }}
              </a>
            </div>
            <div class="col-span-6 text-center">
              <button type="submit" ts-button-primary>
                {{ 'common.save' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-span-6">
    <form (ngSubmit)="changePassword()" [formGroup]="updatePasswordForm">
      <div class="text-xl mt-3 text-center">{{ 'user.title.change-password' | translate }}</div>
      <div class="grid grid-cols-12">
        <div class="col-span-6 col-start-4 mt-2">
          <div class="text-gray-700">{{ 'common.password' | translate }}</div>
          <input ts-input type="password" formControlName="password" autocomplete="new-password">
          <ng-container
            *ngIf="(submittedPasswordChange || getFormControlForUpdatePassword('password').touched) && getFormControlForUpdatePassword('password').invalid">
            <ts-error-message *ngIf="getFormControlForUpdatePassword('password').errors.required">
              {{ 'common.error.password-missing' | translate }}
            </ts-error-message>
          </ng-container>
        </div>
        <div class="col-span-6 col-start-4 mt-2">
          <div class="text-gray-700">{{ 'common.password-repeat' | translate }}</div>
          <input ts-input type="password" formControlName="passwordRepeat" autocomplete="new-password">
          <ng-container
            *ngIf="(submittedPasswordChange || getFormControlForUpdatePassword('passwordRepeat').touched) && getFormControlForUpdatePassword('passwordRepeat').invalid">
            <ts-error-message *ngIf="getFormControlForUpdatePassword('passwordRepeat').errors.required">
              {{ 'common.error.password-repeat-missing' | translate }}
            </ts-error-message>
          </ng-container>
        </div>
        <div class="col-span-6 col-start-4">
          <ts-success-message *ngIf="passwordChangeSuccessful">
            <span>{{ 'user.message.change-success' | translate }}</span>
          </ts-success-message>
        </div>
        <div class="col-span-12 text-center mt-2">
          <button type="submit" ts-button-primary>
            {{ 'common.save' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="grid grid-cols-12">
  <div class="col-span-12">
    <div class="text-xl mt-3 text-center">{{ 'common.actions' | translate }}</div>
    <ng-container *ngIf="actionsResponse">
      <ts-error-message *ngIf="!actionsResponse.successful">
        {{ actionsResponse.message }}
      </ts-error-message>
      <ts-success-message *ngIf="actionsResponse.successful">
        {{ actionsResponse.message }}
      </ts-success-message>
    </ng-container>
    <div class="text-center">
      <button (click)="generateNewKeyPair()" ts-button-primary>
        {{ 'user.action.generate-key-pair' | translate }}
      </button>
    </div>
  </div>
</div>
