<div class="text-bold text-black text-3xl">Beziehung anlegen</div>
<div class="grid grid-cols-12 pb-3">
  <div class="col-start-4 col-span-6">
    <label for="relation">{{ 'common.relation' | translate }}</label>
    <div class="relative">
      <select id="relation" (change)="selectRelation($event)"
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        <option *ngFor="let relation of relations" [ngValue]="relation">
          {{ relation.name }}
        </option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-start-4 col-span-6">
    <label for="resourceType">{{ 'common.resource' | translate }}</label>
    <div class="relative">
      <select id="resourceType" (change)="selectResourceType($event)"
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        <option *ngFor="let resourceType of resourceTypes" [ngValue]="resourceType">
          {{ resourceType.description }}
        </option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-start-4 col-span-6" *ngIf="selectedResourceType">
    <label for="object">{{ 'common.object' | translate }}</label>
    <div class="relative">
      <select id="object" (change)="selectGraphObject($event)"
              class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500">
        <option [ngValue]="null">{{ 'common.select' | translate }}</option>
        <option *ngFor="let node of nodes" [ngValue]="node">
          {{ node.data.properties.name }}
        </option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
        </svg>
      </div>
    </div>
  </div>
  <div class="col-start-4 col-span-6">

  </div>
  <div class="col-start-4 col-span-6" *ngIf="message">
    <ng-container *ngIf="message.type === 'error'; else successMessage">
      <ts-error-message>{{ message.text }}</ts-error-message>
    </ng-container>
    <ng-template #successMessage>
      <ts-success-message>{{ message.text }}</ts-success-message>
    </ng-template>
  </div>
  <div class="col-start-4 col-span-6 mt-5">
    <button (click)="createRelation()" ts-button-tertiary>{{ 'common.create' | translate }}</button>
  </div>
</div>
