<table class="table-auto w-full">
  <thead>
  <tr class="border-t-4 border-black">
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.field' | translate }}</th>
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.datatype' | translate }}</th>
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.schema' | translate }}</th>
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.deletable' | translate }}</th>
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.nullable' | translate }}</th>
    <th class="px-4 py-2 text-left h-auto text-lg">{{ 'common.actions' | translate }}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let objectStructure of objectStructures; index as index; last as last" class="border-t-2 border-black"
      [ngClass]="{'border-b-2': last}">
    <td class="px-4 py-2">{{ objectStructure.field }}</td>
    <td class="px-4 py-2">{{ objectStructure.datatype }}</td>
    <td class="px-4 py-2">{{ objectStructure.schema }}</td>
    <td class="px-4 py-2">{{ (objectStructure.deletable ? 'common.yes' : 'common.no') | translate }}</td>
    <td class="px-4 py-2">{{ (objectStructure.nullable ? 'common.yes' : 'common.no') | translate }}</td>
    <td class="px-4 py-2">
      <button (click)="deleteObjectStructure(objectStructure)" ts-button-primary class="my-1">
        {{ 'common.delete' | translate }}
      </button>
    </td>
  </tr>
  <tr *ngIf="objectStructures && objectStructures.length === 0">
    <td colspan="7">{{ 'objects.text.no-object-structures' | translate }}</td>
  </tr>
  </tbody>
</table>

