<form [formGroup]="addObjectStructureForm" (ngSubmit)="addObjectStructure()">
  <div class="font-bold">{{ 'common.object-structure' | translate }}</div>
  <div class="grid grid-cols-6">
    <div class="col-span-3 mt-2 px-2">
      <label for="field" class="text-black">{{ 'common.field' | translate }}</label>
      <input id="field" ts-input formControlName="field">
      <ng-container
        *ngIf="getFormControlFromObjectStructureForm('field').touched && getFormControlFromObjectStructureForm('field').invalid">
        <ts-error-message *ngIf="getFormControlFromObjectStructureForm('field').errors.required">
          {{ 'common.error.field-missing' | translate }}
        </ts-error-message>
        <ts-error-message *ngIf="getFormControlFromObjectStructureForm('field').errors.fieldNameExisting">
          {{ 'common.error.field-already-existing' | translate:{ field: getFormControlFromObjectStructureForm('field').value } }}
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-3 mt-2 px-2">
      <label for="datatype" class="text-black">{{ 'common.datatype' | translate }}</label>
      <input id="datatype" ts-input formControlName="datatype">
      <ng-container
        *ngIf="getFormControlFromObjectStructureForm('datatype').touched && getFormControlFromObjectStructureForm('datatype').invalid">
        <ts-error-message *ngIf="getFormControlFromObjectStructureForm('datatype').errors.required">
          {{ 'common.error.datatype-missing' | translate }}
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-3 mt-2 px-2">
      <label for="schema" class="text-black">{{ 'common.schema' | translate }}</label>
      <input id="schema" ts-input formControlName="schema">
      <ng-container
        *ngIf="getFormControlFromObjectStructureForm('schema').touched && getFormControlFromObjectStructureForm('schema').invalid">
        <ts-error-message *ngIf="getFormControlFromObjectStructureForm('schema').errors.required">
          {{ 'common.error.no-schema-provided' | translate }}
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-3 mt-2 px-2">
      <label for="deletableObjectStructure" class="text-black">{{ 'common.deletable' | translate }}</label>
      <div class="flex items-start">
        <div class="flex-items-center h-5">
          <input id="deletableObjectStructure" type="checkbox" class="h-4 w-4 border-gray-300 rounded"
                 formControlName="deletable">
        </div>
        <div class="ml-3">
          <p>{{ 'objects.text.deletable' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-span-3 mt-2 px-2">
      <label for="nullable" class="text-black">{{ 'common.nullable' | translate }}</label>
      <div class="flex items-start">
        <div class="flex-items-center h-5">
          <input id="nullable" type="checkbox" class="h-4 w-4 border-gray-300 rounded" formControlName="nullable">
        </div>
        <div class="ml-3">
          <p>{{ 'objects.text.nullable' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-span-3 mt-2 px-2">
      <button type="submit" ts-button-tertiary class="text-center">
        {{ 'common.add' | translate }}
      </button>
    </div>
    <ng-content></ng-content>
  </div>
</form>
