<ng-container *ngIf="transaction">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4">
      <div class="text-3xl">{{ ('common.transaction') | translate }}</div>
    </div>
    <div class="col-span-6 col-start-4">
      <div class="font-bold">{{ ('common.identifier') | translate }}:</div>
      {{ transactionId }}
    </div>
    <div class="col-span-6 col-start-4">
      <div class="font-bold">{{ ('common.timestamp') | translate }}:</div>
      {{ transaction.metadata.timestamp | date:'dd.MM.yyyy HH:mm' }}
    </div>
    <div class="col-span-6 col-start-4">
      <div class="font-bold">{{ ('common.status') | translate }}:</div>
      {{ ('common.' + transaction.metadata.asset.data.status) | translate }}
    </div>
    <div class="col-span-6 col-start-4">
      <div class="font-bold">{{ ('common.user') | translate }}:</div>
      {{ transaction.metadata.user }}
    </div>
    <div class="col-span-6 col-start-4">
      <div class="font-bold">{{ ('common.transaction-type') | translate }}:</div>
      {{ ('common.' + transaction.metadata.transactionType) | translate }}
    </div>
    <div class="col-span-6 col-start-4 mt-5">
      <span class="text-xl">{{ 'common.resource' | translate }}</span>
    </div>
    <div class="col-span-6 col-start-4">
      <ts-resource-data [data]="transaction.asset.data"></ts-resource-data>
    </div>
  </div>
</ng-container>

