<ng-container *ngIf="asset">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4 text-3xl">
      {{ custom ? asset.namespace : ('common.'+asset.namespace+'-single') | translate }}:
      {{ asset.data.name }}
    </div>
    <div *ngFor="let item of asset.data | keyvalue" class="col-span-6 col-start-4">
      <ng-container *ngIf="item.key !== 'uuid'">
        <div class="font-bold">
          <ng-container *ngIf="(('common.'+item.key) | translate).indexOf('common') === -1; else translationNotFound">
            {{ ('common.' + item.key) | translate }}
          </ng-container>
          <ng-template #translationNotFound>
            {{ item.key }}
          </ng-template>
        </div>
        <div>{{ item.value && item.value.length && item.value !== 'null' ? item.value : '&nbsp;' }}</div>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *ngIf="remoteResponses && remoteResponses.length">
      <div class="text-xl">Bezeichnungen auf anderen Instanzen</div>
      <table class="table-auto w-full">
        <thead>
        <tr class="border-t-4 border-black">
          <th class="px-4 py-2 text-left h-auto">
            <span class="text-lg">{{ 'common.instance' | translate }}</span>
          </th>
          <th class="px-4 py-2 text-left h-auto">
            <span class="text-lg">{{ 'common.name' | translate }}</span>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let remoteResponse of remoteResponses; index as i; last as last" class="border-t-2 border-black"
            [ngClass]="{'border-b-2': last}">
          <td class="px-4 py-2">{{ remoteResponse.name }}</td>
          <td class="px-4 py-2">
            <ng-container *ngIf="remoteResponse.error">
              {{ 'common.request-error' | translate }}
            </ng-container>
            <ng-container *ngIf="!remoteResponse.error">
              <ng-container *ngIf="remoteResponse.data && remoteResponse.data.length; else noData">
                {{ remoteResponse.data[0].data.properties.name }}
              </ng-container>
              <ng-template #noData>
                {{ 'common.no-data' | translate }}
              </ng-template>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
