<ng-container *ngIf="asset">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4 text-3xl">
      {{ custom ? asset.namespace : ('common.'+asset.namespace+'-single') | translate }}:
      {{ asset.data.name }}
    </div>
    <div *ngFor="let item of asset.data | keyvalue" class="col-span-6 col-start-4">
      <ng-container *ngIf="item.key !== 'uuid'">
        <div class="font-bold">
          <ng-container *ngIf="(('common.'+item.key) | translate).indexOf('common') === -1; else translationNotFound">
            {{ ('common.' + item.key) | translate }}
          </ng-container>
          <ng-template #translationNotFound>
            {{ item.key }}
          </ng-template>
        </div>
        <div>
          <ng-container *ngIf="item.key === 'status'; else normalAttribute">
            {{ ('common.' + item.value) | translate }}
          </ng-container>
          <ng-template #normalAttribute>
            {{ item.value && item.value.length && item.value !== 'null' ? item.value : '&nbsp;' }}
          </ng-template>
        </div>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *ngIf="remoteResponses && remoteResponses.length">
      <ts-resource-detail-remotes [remoteResponses]="remoteResponses" (reloadRemoteResponses)="onReloadRemoteResponses()"></ts-resource-detail-remotes>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *ngIf="transactions && transactions.length">
      <ts-resource-detail-transactions [transactions]="transactions" (reloadTransactions)="onReloadTransactions()"></ts-resource-detail-transactions>
    </div>
    <div class="col-span-6 col-start-4 mt-5">
      <ts-resource-detail-create-relation [asset]="asset" (relationCreated)="onReloadRelations()"></ts-resource-detail-create-relation>
    </div>
    <div class="col-span-6 col-start-4 mt-5">
      <ts-resource-detail-relations [relations]="relations" (reloadRelations)="onReloadRelations()" (deletedRelation)="onRelationDelete($event)"></ts-resource-detail-relations>
    </div>
  </div>
</ng-container>
