<ng-container *ngIf="asset">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4 text-3xl">
      {{ custom ? asset.namespace : ('common.'+asset.namespace+'-single') | translate }}:
      {{ asset.data.name }}
    </div>
    <div class="col-span-6 col-start-4">
      <ts-resource-data [data]="asset.data"></ts-resource-data>
    </div>
    <div class="col-span-6 col-start-4 mt-5">
      <a (click)="downloadJsonLD()" class="cursor-pointer hover:underline hover:text-blue">{{ 'common.jsonld-download' | translate }}</a>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *ngIf="remoteResponses && remoteResponses.length">
      <ts-remote-list [remoteResponses]="remoteResponses" (reloadRemoteResponses)="onReloadRemoteResponses()"></ts-remote-list>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *ngIf="transactions && transactions.length">
      <ts-transactions [transactions]="transactions" (reloadTransactions)="onReloadTransactions()"></ts-transactions>
    </div>
    <div class="col-span-6 col-start-4 mt-5" *tsHasPermission="'ASSETS_CREATE'">
      <ts-resource-detail-create-relation [asset]="asset" (relationCreated)="onReloadRelations()"></ts-resource-detail-create-relation>
    </div>
    <div class="col-span-6 col-start-4 mt-5">
      <ts-relation-list [relations]="relations" (reloadRelations)="onReloadRelations()" (deletedRelation)="onRelationDelete($event)"></ts-relation-list>
    </div>
  </div>
</ng-container>
