<div class="flex">
  <span class="text-xl mr-auto">{{ 'common.transactions' | translate }}</span>
  <span class="text-s pt-1 cursor-pointer" (click)="reload()">{{ 'common.refresh' | translate }}</span>
</div>
<table class="table-auto w-full">
  <thead>
  <tr class="border-t-4 border-black">
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.timestamp' | translate }}</span>
    </th>
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.status' | translate }}</span>
    </th>
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.transaction-type' | translate }}</span>
    </th>
    <th class="px-4 py-2 text-left h-auto">
      <span class="text-lg">{{ 'common.actions' | translate }}</span>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions; index as i; last as last" class="border-t-2 border-black"
      [ngClass]="{'border-b-2': last}">
    <td class="px-4 py-2">{{ transaction.metadata.timestamp | date:'dd.MM.yyyy HH:mm' }}</td>
    <td class="px-4 py-2">{{ ('common.' + transaction.metadata.asset.data.status) | translate }}</td>
    <td class="px-4 py-2">{{ ('common.' + transaction.metadata.transactionType) | translate }}</td>
    <td class="px-4 py-2">
      <button ts-button-tertiary (click)="toTransactionDetail(transaction)">{{ 'common.to-detail' | translate }}</button>
    </td>
  </tr>
  </tbody>
</table>
