<div class="text-xl mt-3 text-center">{{ 'login.title' | translate }}</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4 mt-2">
      <div class="text-gray-700">{{ 'common.username' | translate }}</div>
      <input ts-input formControlName="username">
      <ng-container *ngIf="(submitted || getFormControl('username').touched) && getFormControl('username').invalid">
        <ts-error-message *ngIf="getFormControl('username').errors.required">
          {{ 'common.error.your-username-missing' | translate }}
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-2">
      <div class="text-gray-700">{{ 'common.password' | translate }}</div>
      <input ts-input type="password" formControlName="password">
      <ng-container *ngIf="(submitted || getFormControl('password').touched) && getFormControl('password').invalid">
        <ts-error-message *ngIf="getFormControl('password').errors.required">
          {{ 'common.error.your-password-missing' | translate }}
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-2">
      <ts-error-message *ngIf="loginError !== null">
        {{ loginError }}
      </ts-error-message>
    </div>
    <div class="col-span-6 col-start-4 mt-2 text-center">
      <button type="submit" ts-button-primary>
        {{ 'login.action.login' | translate }}
      </button>
    </div>
  </div>
</form>
