<div class="text-xl mt-3 text-center">Anmelden</div>
<form [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="grid grid-cols-12">
    <div class="col-span-6 col-start-4 mt-2">
      <div class="text-gray-700">Benutzername</div>
      <input class="border border-solid border-gray-400 rounded p-1 w-full" formControlName="username">
      <ng-container *ngIf="(submitted || getFormControl('username').touched) && getFormControl('username').invalid">
        <ts-error-message *ngIf="getFormControl('username').errors.required">
          Bitte geben Sie Ihren Benutzernamen ein.
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-2">
      <div class="text-gray-700">Passwort</div>
      <input class="border border-solid border-gray-400 rounded p-1 w-full" formControlName="password">
      <ng-container *ngIf="(submitted || getFormControl('password').touched) && getFormControl('password').invalid">
        <ts-error-message *ngIf="getFormControl('password').errors.required">
          Bitte geben Sie Ihr Passwort ein.
        </ts-error-message>
      </ng-container>
    </div>
    <div class="col-span-6 col-start-4 mt-2">
      <ts-error-message *ngIf="loginError !== null">
        {{ loginError }}
      </ts-error-message>
    </div>
    <div class="col-span-6 col-start-4 mt-2 text-center">
      <button type="submit"
              class="bg-white hover:bg-gray-300 text-black border border-black hover:border-gray-300 font-semibold py-2 px-4 rounded">
        anmelden
      </button>
    </div>
  </div>
</form>
