<div class="container border border-gray-900 bg-gray-900 mx-auto py-4 px-2">
  <div class="grid grid-cols-12">
    <div class="col-span-2 text-left">
      <span [routerLink]="['/']" class="text-white cursor-pointer font-bold text-3xl">LOGO</span>
    </div>
    <div class="col-span-7 text-left">
      <ng-container *ngIf="username$ | async">
        <ng-container *tsHasPermission="'USER_READ'">
          <div [routerLink]="['/users']" [routerLinkActive]="['font-bold']" [routerLinkActiveOptions]="{exact: false}"
               class="text-white cursor-pointer hover:underline inline-block mr-3">
            {{ 'header.menu.users' | translate }}
          </div>
        </ng-container>
        <ng-container *tsHasPermission="'ASSETS_READ'">
          <div [routerLink]="['/occupations']" [routerLinkActive]="['font-bold']"
               [routerLinkActiveOptions]="{exact: false}"
               class="text-white cursor-pointer hover:underline inline-block mr-3">
            {{ 'header.menu.occupations' | translate }}
          </div>
        </ng-container>
        <ng-container *tsHasPermission="'ASSETS_READ'">
          <div [routerLink]="['/qualifications']" [routerLinkActive]="['font-bold']"
               [routerLinkActiveOptions]="{exact: false}"
               class="text-white cursor-pointer hover:underline inline-block mr-3">
            {{ 'header.menu.qualifications' | translate }}
          </div>
        </ng-container>
        <ng-container *tsHasPermission="'CONFIGURATION_READ'">
          <div [routerLink]="['/configuration']" [routerLinkActive]="['font-bold']"
               [routerLinkActiveOptions]="{exact: false}"
               class="text-white cursor-pointer hover:underline inline-block">
            {{ 'header.menu.configuration' | translate }}
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="col-span-3 text-right">
      <ng-container *ngIf="username$ | async">
        <span class="text-white">{{ 'header.text.logged-in-as' | translate }} {{ username$ | async }}</span>
        <button class="ml-4" ts-button-secondary (click)="logout()">
          {{ 'header.action.logout' | translate }}
        </button>
      </ng-container>
    </div>
  </div>
</div>
